
.addwel{
    position: absolute;
    left: 25%;
    top: 15%;
}
 .menudash{
    position: absolute;
    top: 27%;
    left: 83%;
 }
 header {
    position: fixed;
    z-index: 1;
      background-color:#D2E9E9;
      color: rgb(0, 0, 0);
      /* padding: 35px; */
      height: 10vh;
      width:98.7vw;
      text-align: right;
      /* nav-left: 20%;    */
      /* position: fixed;
    top: 0; */
    }
    
    nav ul {
      position: absolute;
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: left; 
    }
    /* nav ul:hover{
     color: antiquewhite;
    } */
    
    nav li {
      display: none;
      margin-right: 20px;
    }
    
    nav a {
      text-decoration: underline;
      text-align: right;
      color: rgb(0, 0, 0);
     
    }
    /* External CSS file (e.g., styles.css) */
  .h{
      position: absolute;
      margin-right: 10%;
  }
   .adddash{
      position: absolute;
      left:92%;
      top:10%;
      /* background-image: url("https://images.unsplash.com/photo-1449867727329-3294ea016353?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z3JleXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"); */
  
      display: flex;
   }
   .addul {
      position: absolute;
      text-indent: 900px;
      margin-top: 15px;
   }
   .addword{
    position: absolute;
    top: -20%;
    left: -1%;
    height: 163%;
    width: 15%;
 }
 .addlogo{
    position: absolute;
    top: 0.5%;
    left: 14%;
    height: 113%;
    width: 5%;
 }
 .addsmart{
    position: absolute;
    top: -30%;
    left: 4%;
    height: 193%;
    width: 15%;
 }
 .addfooter {
    position: absolute;
    background-image:linear-gradient(to right,rgb(255, 255, 255), rgb(161, 161, 161)) ;

    color: #fff;
    padding: 16% 50%;
    top: 490%;
    
    
  }
  .addimg8{
    position: absolute;
    top: 56%;
    left: -1%;
    
  }
  .addimg9{
    position: absolute;
    top: 56%;
    left: 47%;
    
  }
  .addimg10{
    position: absolute;
    top: 56%;
    left: 51.5%;
    
  }
  .addicon{
    position: absolute;
    display: flex;
    top: 12%;
    color: #000000;
    left: 6%;
    /* text-indent: 300cap; */
  }
  .adddash1{
    position: absolute;
    top: -5%;
    left: -2%;
    height: 26%;
    width: 20%;
  }
  .adddash2{
    position: absolute;
    left: 80%;
    top: 15%;
    height: 35%;
    width: 17%;
  }
  .adddash3{
    position: absolute;
    top: -3%;
    left: 5%;
    height: 24%;
    width: 20%;

  }
  .addcopy{
    position: absolute;
    top: 37%;
    left: 3%;
    color: black;
  }
  .addterms{
    position: absolute;
    /* display: flex; */
    left: 35%;
    top: 5%;
    font-size: 0.8rem;
    color: grey;

  }
  .addcon{
    position: absolute;
    /* display: flex; */
    font-family: "Leamington Serial",Arial,sans-serif;
   font-size: 0.8rem;
    
   top: 18%;
    color: #003336;
    left: 37%;
    
  }
  .addcon2{
    position: absolute;
    /* display: flex; */
    font-family: "Leamington Serial",Arial,sans-serif;
   font-size: 0.8rem;
    
   top: 20%;
    color: #003336;
    left: 57%;
    
  }
  .addpolicy
  {
    position: absolute;
    left: 58%;
    top: 5%;
    font-size: 0.8rem;
    color: grey;
  }
  .addimge{
    position: absolute;
    top: 15%;
    left: 45%;
  }
  .addline{
    position: absolute;
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;

    top: 30%;
    left: 8%;
  }
  .addstart{
    position: absolute;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    top: 45%;
    left: 15%;
  }


 /* .addupload
 {
    position: absolute;
    top: 100%;
    left: 15%;
    height: 4%;
    width: 5%;
 }
 .adddelete
 {
    position: absolute;
    top: 100%;
    left: 20%;
    height: 4%;
    width: 5%;
 } */