.prilogo
{
    position: absolute;
    top:20%;
    left:38%;
    height:19%;
    width:15%;
}
.cover
{
    position: absolute;
    background-color: rgba(185, 22, 22, 0.2);
    border-radius: 16px;
    top: 10%;
    right:35%;
    height: 80%;
    width: 30%;
}
.bg{
    position: absolute;
    /* background-image: url("https://img.freepik.com/free-vector/little-boy-reading-book-night_1308-73898.jpg?size=626&ext=jpg&ga=GA1.1.432411520.1684857937&semt=ais"); */
    /* background-color: rgb(233, 221, 206); */
    background-image: linear-gradient(to left,#c7f4f4,grey);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    width: 100%;
}
.priapp
{
    position: absolute;
    top:20%;
    left:40%;
    font-size:200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Cochin;
}
.login{
    position: absolute;
    top: 20%;
    left: 45%;
}
.prilogin
{
    position: absolute;
    top:45%;
    left:40%;
    height:11%;
    width:7%;
}
.pribox
{
    border-color: black;
}
.pripwd
{
     position: absolute;
     top:45%;
     left:46%;
     height: 4%;
     width: 15%;
   border-color: rgb(189, 167, 167);
   border-radius: 4px;
}
.pripsd
{
    position: absolute;
    top:44%;
    left:37.2%;
}
.priph
{
    position: absolute;
    top:35%;
    left:36.5%;
}
/* .dappa
{
    position: absolute;
    top:37%;
    left:46%;
    height: 2%;
   width: 2%;
  border-color: rgb(196, 171, 171);
  border-radius: 4px;
  border-style: transparent;
} */
.dappa{
    position: absolute;
    top: 37%;
    left: 46%;
    max-width: -200%;
    height: 3.5%;
    width: 15%;
}
.prilog
{
    position: absolute;
    top:57%;
    left:47%;
    height: 4%;
    width: 7%;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.priforgot
{
    position: absolute;
    top:61%;
    left:44%;
    color: crimson;
    cursor: pointer;
}
.prinew
{
    position: absolute;
    top:67.5%;
    left:39%;
}
.priadd
{
    position: absolute;
    top: 78%;
    left: 45%;
    height: 5%;
    width: 10%;
    color: blueviolet;
}
.prisign
{
    position: absolute;
    top:69%;
    left:50%;
    height: 5%;
    width: 7%;
    color:rgb(6, 174, 174);
    cursor: pointer;
}
#img1{
    position: relative;
    left: 25%;
    top: 10%;
    height: 80%;
    width: 35%;
}